.DS_Store
*.gcov
*.gcda
*.gcno
*~
*.o
*.pyc
*.os
*.so
*.a
*.swp
*.dylib
build/
dist/
mapnik/paths.py
*.egg-info/
.eggs/
.mason/
mason_packages/
mapnik/plugins
env

*.sln
*.vcxproj*
*.ipch
*.log
*.tlog
*.pdb
*.db
*.obj
.vscode
.*vs

vc14
x64

*.png
*.tif
*.jpg
*.webp
*.dll
*.pyd
mapnik/fonts
mapnik/libs
mapnik/input